<%-include('partials/header');-%>
<script>
  $(document).ready(function(){

  $('.footimg').addClass('bs');
  $('.navbar').addClass('trans');

  $('.footimg').removeClass('as');
    $('.navbar-brand').removeClass('as').addClass('bs');
  });

  </script>
<h1>About</h1>
<p>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  <%= abt%>
  </p>
  <%-include('partials/footer');-%>
